@charset "utf-8";
/* CSS Document */

#box {
	height: 840px;
	width: auto;
}
#box #head {
	background-color: #103667;
	height: 30px;
	width: auto;
}
#box #bg {
background-image:url(../images/back.jpg);
	height: 430px;
	width: auto;
}
#box #bg #content {
 
	background-color:#FFFFFF;
	height: 565px;
	width: 955px;
	margin-top:80px;
	margin-left:15%;
}
#box #bg #content #title {

	width: 955px;
	height:25px;
	
}


#box #bg #content #title a {
font-weight: 600;
font-family:"Adobe ���� Std R";
font-size:16px;
color:#333333;
text-decoration:none;
}
 #box #bg #content #title a:hover{
color:#CC0033;

}

 #box #bg #content #title ul {
 border-bottom-width:1px;
border-bottom-style:groove;
border-bottom-color:#CC0000;
height:23px;
list-style:none;
padding-left:13%;
}
 #box #bg #content #title ul li {  
   padding:0 23px 0 23px;
   border-right:1px solid #DDDDDD;

   line-height:20px;
   
   display:inline-block;
}
#box #bg #content #image {

	height: 500px;
	margin-top:2%;
	margin-left:25px;
	margin-right:25px;
}
#box #bg #content #res {
float: left;
background-color:#006A6A;
	height: auto;
	width:905px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 25px;
}
#box #bg #content #res p {
color:#FFFFFF;				/* ������ɫ */
	margin:0px;
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
}
#box #bg #content #res span {
float:left;					/* ���ַŴ� */
	font-size:80px;
	font-family:����;
	margin:0px;
	padding-right:5px;
}
#box #bg #footer {
	background-color: #DEDEDE;
	height: 140px;
	width: auto;
}
#box #bg #footer li {
 
padding-right:20px;
padding-left:20px;
 border-right:1px solid #FFFFFF;
 
   line-height:15px;
   float:left;
   list-style:none;
}
#box #bg #footer a {
color:#000000;
text-decoration:none;
font-family:"����";
}
#box #bg #footer a:hover{
color:#cc0033;
}

#box #bg #footer ul {
padding-top:27px;
margin-left:20%;
font-family:"Adobe ���� Std R";
}
#box #bg #footer #ad {
	margin-top: 40px;
	margin-left: 25%;
	font-family:"Adobe ���� Std R";
}
